{% extends 'base.html' %}

{% block title %}
    SGC - Listado de estudiantes
{% endblock %}

{% block titulo %}
    <h1>SISTEMA DE GESTION DE CURSOS</h1>
{% endblock %}

{% block contenido %}
     <table class="table table-striped">
        <thead>
            <th>Nombre</th>
            <th>Email</th>
            <th>Acciones</th>
        </thead>
        <tbody>
            {% for estudiante in estudiantes %}
            <tr>
                <td>
                    <a href="{% url 'estudiante_detail' estudiante.id%}">{{estudiante.nombre}}</a>
                    
                </td>
                <td>{{estudiante.email}}</td>
                <td>
                    <a href="{% url 'estudiante_edit' estudiante.id %}">Editar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}