{% extends 'base.html' %}

{% block title %}
    SGA
{% endblock %}

{% block titulo %}
    <h1>SISTEMA DE GESTION DE AUTORES con VISTAS</h1>
{% endblock %}

{% block contenido %}
<div class="container">
    <h2> LISTADO DE LIBROS</h2>  
    <ul>
        {% for libro in libros %}
        
        <li>
            {{libro.titulo}}
            <ul>
                {% for autor in libro.autores.all %}
                <li>
                    {{autor.nombre}} ( <a href="{% url 'libro_update' libro.id %}">Edit</a> )
                </li>
                {% endfor %}
            </ul>
            {% endfor %}

        </li>
    </ul>


</div>



{% endblock %}