<footer class="bg-dark text-light">

    <div class="container border rounded-5">
        <div class="row">
            <div class="col-3">MENU</div>
            <div class="col-3">CONCACTO</div>
            <div class="col-3">
                <h6>
                        SERVICIOS
                </h6>
                <ul>
                    <li>servicio 1</li>
                    <li>servicio 2</li>
                    <li>servicio 3</li>
                </ul>

            </div>
            <div class="col-3">QUIENES SOMOS?</div>
        </div>
    </div>
</footer>