{% extends 'base.html' %}

{% block title %}
    SGA - Registro de Usuario
{% endblock %}

{% block titulo %}
    <h1>SISTEMA DE GESTION DE AUTORES</h1>
{% endblock %}

{% block contenido %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{message.tags}}{% endif %}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4>
                        Registro de usuario
                    </h4>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        
                        {{ form.non_field_errors }}
                        
                        <div class="mb-3">
                            <label class="form-label">
                                {{ form.nombre.label_tag }}
                            </label>
                            {{ form.nombre }}
                            <div class="text-danger small">
                                {{ form.nombre.errors }}
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">
                                {{ form.email.label_tag }}
                            </label>
                            {{ form.email }}
                             <div class="text-danger small">
                                 {{ form.email.errors }}
                             </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">
                                {{ form.edad.label_tag }}
                            </label>
                            {{ form.edad }}
                             <div class="text-danger small">
                                 {{ form.edad.errors }}
                             </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">
                                {{ form.password.label_tag }}
                            </label>
                            {{ form.password }}
                             <div class="text-danger small">
                                 {{ form.password.errors }}
                             </div>
                        </div>
                    
                        <div class="d-grid">
                            <button type="submit" class="btn btn-success">Registrarse</button>
                        </div>
                    </form>
                </div>
            </div>

            
        </div>
    </div>

    


{% endblock %}