{% extends 'base.html' %}

{% block title %}
    SGA
{% endblock %}

{% block titulo %}
    <h1>SISTEMA DE GESTION DE AUTORES con VISTAS</h1>
{% endblock %}

{% block contenido %}
<div class="container">
    <h2> LISTADO DE Autores</h2>    
    <ol>{% for autor in autores  %}
        <li>
             {{autor.nombre}}
            <ul>
                {% for l in autor.libros.all %}
                <li>
                    {{l.titulo}}
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ol>


    
   
        
           
        

    


</div>



{% endblock %}