{% extends "base.html" %}
{% block title %}Crear Autor{% endblock %}

{% block contenido %}
<h2 class="mb-3">Crear Autor</h2>

<form method="post" class="card p-4 shadow-sm">
    {% csrf_token %}
    
    <div class="mb-3">
        <label class="form-label">Nombre</label>
        {{ form.nombre }}
    </div>

    <div class="mb-3">
        <label class="form-label">Nacionalidad</label>
        {{ form.nacionalidad }}
    </div>

    <button type="submit" class="btn btn-primary">
        Guardar Autor
    </button>
</form>
{% endblock %}