{% extends "base.html" %}
{% block title %}Libros{% endblock %}

{% block contenido %}

<div class="formulario">
  <form method="get">
    <div class="row">
      <div class="col">
        <label> Titulo contiene:</label>
        <input type="text" name="titulo" id="titulo" class="form-control">
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label> Autor contiene:</label>
        <select name="autor" id="autor" class="form-select">
          <option value="">----</option>
          {% for a in autores %}
          <option value="{{a.id}}">{{a.nombre}}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label class="form-label">Nacionalidad autor</label>
        <input type="text" name="nacionalidad" class="form-control" value="{{ values.nacionalidad }}">
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label class="form-label">Año mínimo</label>
        <input type="number" name="anio_min" class="form-control" value="{{ values.anio_min }}">
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label class="form-label">Año máximo</label>
        <input type="number" name="anio_max" class="form-control" value="{{ values.anio_max }}">
      </div>
    </div>
    <div class="mt-3">
      <button type="submit" class="btn btn-outline-secondary">Enviar</button>

    </div>
  </form>
</div>

<h2 class="mb-3">Listado de libros filtrados</h2>

<table class="table table-striped table-hover align-middle">
  <thead>
    <tr>
      <th>Título</th>
      <th>Año</th>
      <th>Autor</th>
      <th>Nacionalidad</th>
    </tr>
  </thead>
  <tbody>
    {% for libro in libros_filtrados %}
      <tr>
        <td>{{ libro.titulo }}</td>
        <td>{{ libro.anio }}</td>
        <td>{{ libro.autor.nombre }}</td>
        <td>{{ libro.autor.nacionalidad|default:"-" }}</td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="4" class="text-center">No hay libros registrados.</td>
      </tr>
    {% endfor %}

  </tbody>
</table>

<h2 class="mb-3">Listado de libros</h2>

<table class="table table-striped table-hover align-middle">
  <thead>
    <tr>
      <th>Título</th>
      <th>Año</th>
      <th>Autor</th>
      <th>Nacionalidad</th>
    </tr>
  </thead>
  <tbody>
    {% for libro in libros %}
      <tr>
        <td>{{ libro.titulo }}</td>
        <td>{{ libro.anio }}</td>
        <td>{{ libro.autor.nombre }}</td>
        <td>{{ libro.autor.nacionalidad|default:"-" }}</td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="4" class="text-center">No hay libros registrados.</td>
      </tr>
    {% endfor %}

  </tbody>
</table>

<h2 class="mb-3">Listado de libros por autor: {{ autor }} </h2>
<table class="table table-striped table-hover align-middle">
  <thead>
    <tr>
      <th>Título</th>
      <th>Año</th>
      <th>Autor</th>
      <th>Nacionalidad</th>
    </tr>
  </thead>
  <tbody>
    {% for libro in libros_por_autor %}
      <tr>
        <td>{{ libro.titulo }}</td>
        <td>{{ libro.anio }}</td>
        <td>{{ libro.autor.nombre }}</td>
        <td>{{ libro.autor.nacionalidad|default:"-" }}</td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="4" class="text-center">No hay libros registrados.</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<h2 class="mb-3">Listado de libros con la palabra "POEMA" </h2>
<table class="table table-striped table-hover align-middle">
  <thead>
    <tr>
      <th>Título</th>
      <th>Año</th>
      <th>Autor</th>
      <th>Nacionalidad</th>
    </tr>
  </thead>
  <tbody>
    {% for libro in titulos_con_poema %}
      <tr>
        <td>{{ libro.titulo }}</td>
        <td>{{ libro.anio }}</td>
        <td>{{ libro.autor.nombre }}</td>
        <td>{{ libro.autor.nacionalidad|default:"-" }}</td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="4" class="text-center">No hay libros registrados.</td>
      </tr>
    {% endfor %}
  </tbody>
</table>



<h2 class="mb-3">Listado de libros año mayor a 1950 </h2>
<table class="table table-striped table-hover align-middle">
  <thead>
    <tr>
      <th>Título</th>
      <th>Año</th>
      <th>Autor</th>
      <th>Nacionalidad</th>
    </tr>
  </thead>
  <tbody>
    {% for libro in libros_mayor_1950 %}
      <tr>
        <td>{{ libro.titulo }}</td>
        <td>{{ libro.anio }}</td>
        <td>{{ libro.autor.nombre }}</td>
        <td>{{ libro.autor.nacionalidad|default:"-" }}</td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="4" class="text-center">No hay libros registrados.</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}